<%= form_for(@candidate_achievement, url: required_url ) do |f| %>
  <% if @candidate_achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate_achievement.errors.count, "error") %> prohibited this candidate_achievement from being saved:</h2>

      <ul>
      <% @candidate_achievement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%=  f.label :title %>
  <%=  f.text_field :title %>
  </p>

  <p>

  <%=  f.label :description %>
  <%=  f.text_area :description %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
