<div class="col-sm-3 well">
  <%= link_to current_user.info.url do %>
  <div class="well nounderline">
    <p>
      <div class="nounderline">
        <h3><%= current_user.info.name %></h3>
      </div>
    </p>
    <%= image_tag( current_user.info.logo , size: "120x70", alt: current_user.info.name) %>
  </div>
  <% end %>
  <div class="well">
    <p>
      <span class="label label-default">Tagline</span>
    </span>
  </p>
  <p>
    <h4>
      <span><%= current_user.info.tagline %></span>
    </h4>
  </p>
</div>

<p>
  <%= link_to "Post Job Opening", new_company_job_path(current_user.info),class: "btn btn-default" %>
</p>
</div>
