<div class="well text-capitalize">
  <div class="container-fluid">
      <div class="col-sm-12">
        <p class="text-center">
          <%= link_to 'Create New Event', new_company_job_event_path(job_events_path_params(@company_events.first)), class:"btn btn-info create-button" %>
        </p>
    </div>
  </div>
</div>

<% @company_events.each do |company_event| %>
<div class="well text-capitalize">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <b class="text-center">Event Type</b>
      </div>
      <div class="col-sm-9">
        <p class="text-left"><%= company_event.event_type %></p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <b class="text-center">organiser</b>
      </div>
      <div class="col-sm-9">
        <p class="text-left"><%= company_event.organiser %></p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <b class="text-center">venue</b>
      </div>
      <div class="col-sm-9">
        <p class="text-left"><%= company_event.date_time.to_formatted_s(:long_ordinal) %>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <b class="text-center">duration</b>
      </div>
      <div class="col-sm-9">
        <p class="text-left"><%= company_event.duration %>
          hr</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <b class="text-center">location</b>
      </div>

      <div class="col-sm-9">
        <p class="text-left">
          <%= company_event.location.building_number %>-<%= company_event.location.building_name %>
        </br>
        <%= company_event.location.street_address %>,
        <%= company_event.location.street_name %>
      </br>
      <%= company_event.location.city %>,
      <%= company_event.location.state %>,
      <%= company_event.location.country %>
    </br>
    ZipCode:
    <%= company_event.location.zipcode %>
  </p>
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">

<div class="col-sm-2">
  <b class="text-center">

    <%= link_to 'Edit', edit_company_job_event_path( job_events_path_params( company_event ) ),class:"btn btn-success", role:"button" %>

  </b>
</div>
<div class="col-sm-2">
  <p class="text-left">
    <%= link_to 'Destroy', company_job_event_path(job_events_path_params(company_event)), method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger", role:"button"%>
  </p>
</div>

<div class="col-sm-8 text-right event-font-size">
  <%= company_event.updated_at.strftime("%B, %d - %Y") %><br/>
  <%= company_event.updated_at.strftime("%I:%M %p") %>
</div>

</div>
</div>

</div>
<% end %>

