<%= form_for @qualification, url: required_url do |f| %>
  <% if @qualification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qualification.errors.count, "error") %> prohibited this qualification from being saved:</h2>

      <ul>
      <% @qualification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.label :course %>
  <%= f.text_field :course %>
  </p>
  <p>
  <%= f.label :domain %>
  <%= f.text_field :domain %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
