<p id="notice"><%= notice %></p>

<h1>Listing Qualifications</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications.each do |qualification| %>
      <tr>
        <td><%= qualification.course %></td>
        <td><%= link_to 'Show', self.send(qualification_path,qualification_path_params(qualification)) %></td>
        <td><%= link_to 'Edit', self.send(qualification_path('edit'),qualification_path_params(qualification)) %></td>
        <td><%= link_to 'Destroy', self.send(qualification_path,qualification_path_params(qualification)), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualification', self.send(qualification_path('new')) %>
