<!-- <p id="notice"><%= notice %></p> -->
<h1>Showing qualifications</h1>

<p>
  <b>Course:</b>
  <%= @qualification.course %></p>
<p>
  <b>Domain:</b>
  <%= @qualification.domain %></p>
<%= link_to 'Edit', self.send(qualification_path('edit'),qualification_path_params(@qualification)) %>
|
<%= link_to 'Back', self.send(qualification_path('index')) %>
