<%= form_for @company_job_opportunity, url: required_url, html: {class: 'form-horizontal'} do |f| %>
<% if @company_job_opportunity.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@company_job_opportunity.errors.count, "error") %>
    prohibited this company_job_opportunity from being saved:</h2>

  <ul>
    <% @company_job_opportunity.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<!--  -->

<div class="field form-group">
  <%= f.label :title, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :title, class: 'form-control', placeholder: 'Job title' %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :shift, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :shift, class: 'form-control', placeholder: 'Part-time, Intern etc' %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :description, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :description, class: 'form-control', placeholder: 'URL of your company' %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :number_of_positions, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :number_of_positions, class: 'form-control', placeholder: 'Phone number' %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :status, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.select :status, options_for_select(Company::JobOpportunity::STATUS ,selected_key = f.object.status), class: 'form-control' %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :experience, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.number_field :experience, class: 'form-control', placeholder: 'Experiance in years' %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :ctc, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.number_field :ctc, class: 'form-control', placeholder: 'CTC in lacks' %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :qualification, class:'col-sm-2 control-label' %>
  <% if :qualifications.nil? %>
  <div class="col-sm-10">
    <%= f.text_field "", class: 'form-control', placeholder: 'Qualifications' %>
  </div>
<% else %>
  <div class="col-sm-10">
    <%= f.text_field :qualifications, class: 'form-control', placeholder: 'Qualifications' %>
  </div>
  <% end %>
</div>
<div class="actions form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit %>
  </div>
</div>
<% end %>
