<div class="row well">
  <div class="col-sm-9">

    <%= form_for candidate_experience, url: required_url do |f| %>
      <% if candidate_experience.errors.any? %>
        <div class="alert alert-danger">
          <div id="error_explanation">
            <h3><%= pluralize(candidate_experience.errors.count, "error") %> prohibited this experience from being saved:</h3>

            <ul>
            <% candidate_experience.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>


      <div class="form-group">
        <%= f.label(:name, class: "control-label col-sm-3")  %>
        <div class="col-sm-9">
          <%= f.text_field(:name, class: "form-control",placeholder:"Enter title") %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label(:start_date, class: "control-label col-sm-3")  %>
        <div class="col-sm-9">
          <%= f.date_field(:start_date, class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:end_date, class: "control-label col-sm-3")  %>
        <div class="col-sm-9">
          <%= f.date_field(:end_date, class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:description, class: "control-label col-sm-3")  %>
        <div class="col-sm-9">
          <%= f.text_area(:description, class: "form-control", placeholder:"Write something about this experience",rows:3) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label(:shift_type, class: "control-label col-sm-3")  %>
        <div class="col-sm-9">
          <%= f.text_field(:shift_type, class: "form-control",placeholder:"What type of job it was?") %>
        </div>
      </div>

  </div>

  
  <div class="form-group">
    <% if !new_experience %>
      <div class="col-sm-2">
        <%= f.submit "Update",class: "btn btn-default update-button btn-md" %>
      </div>
    <% else %>
      <div class="col-sm-offset-2 create-button">
        <%= f.submit "Create",class:"btn btn-default" %>
      </div>
    <% end %>
  </div>
<% end %>
<% if !new_experience %>
  <div class="form-group">
    <div class="col-sm-1">
      <%= link_to "Delete",candidate_experience_path(experience_path_params(candidate_experience)),method: :delete, class:"btn btn-danger btn-md active", role:"button",data:{confirm:'Are you sure?'} %>

    </div>
  </div>
<% end %>
</div>
