<p id="notice"><%= notice %></p>

<h1>Listing Candidate Experiences</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidate_experiences.each do |candidate_experience| %>
      <% experience_path_params = {candidate_id:params[:candidate_id],id:candidate_experience.id} %>
      <tr>
        <td>
          <b><%= candidate_experience.name %></b>
        </td>
        <td><%= link_to 'Show', candidate_experience_path(experience_path_params) %></td>
        <td><%= link_to 'Edit', edit_candidate_experience_path(experience_path_params) %></td>
        <td><%= link_to 'Destroy', candidate_experience_path(experience_path_params), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experience', new_candidate_experience_path %>
