<p id="notice"><%= notice %></p>
<h1>Showing candidate links</h1>
<p><%= @candidate_link.link_type %></p>
<p><%= @candidate_link.url %></p>
<%= link_to 'Edit', edit_candidate_link_path(link_path_params(@candidate_link)) %> |
<%= link_to 'Back', candidate_links_path %>
