<div class="container">
  <h2 class="text-center jumbotron">Editing <%= current_user.info.first_name.capitalize %>'s Profile </h2>
  <div class="row jumbotron">
    <div class="col-sm-3">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Profile", edit_candidate_path(params[:id]||params[:candidate_id]) %></li>
              <li><%= link_to "Achievements", edit_candidate_achievements_path(candidate_id: params[:id]||params[:candidate_id]) %></li>
              <li><%= link_to "Projects", edit_candidate_projects_path(candidate_id: params[:id]||params[:candidate_id]) %></li>
              <li><a href="#">Experiences</a></li>
              <li><a href="#">Links</a></li>
              <li><a href="#">References</a></li>
              <li><a href="#">Tests</a></li>
              <li><a href="#">Skills</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <%= yield :edit_content %>
    </div>
  </div>
  </div>
</div>
