	<% @company.job_opportunities.each do |company_job_opportunity| %>
	<div class="well">
		<ul class="list-unstyled text-left text-capitalize">
	  	<li>
	  	<table style="width:100%">
	  		<tr>
	  			<td><strong>Title : <em><%= company_job_opportunity.title %></em></strong></td>
	  			<td class="text-right"><strong>Post : </strong><%= company_job_opportunity.updated_at %></td>
	  		</tr>
	  	</table>
	  	</li>
	  	<li>
	    	<strong>Job Status : </strong>
	    	<em>
	    	<% if company_job_opportunity.status %>
	   			 Available
	   		<% else %>
	   			 Closed
	    	<% end %>
	 		</em>
	    </li>
	    <li><strong>Details :</strong></li>
	    <table class="text-left" style="width:50%">
	    	<tr>
	    		<td><strong><em>Experience</em></strong> : <%= company_job_opportunity.experience %> <strong>years</strong></td>
	    		<td><strong><em>Shift : </em></strong><%= company_job_opportunity.shift %></td>
	    	</tr>
	    	<tr>
	    		<td><strong><em>Positions : </em></strong><%= company_job_opportunity.number_of_positions %></td>
	    		<td><strong>CTC : </strong><%= company_job_opportunity.ctc %></td>
	    	</tr>
	    </table>
	    
	    <li>
	    	<strong>Description : </strong><p><%= company_job_opportunity.description %></p>
	    </li>
	    <table style="width:100%">
	    	<tr>
	    		<td>
	    			<medium class="btn btn-success" role="button"><%= link_to 'Edit Post', edit_company_job_path(job_opportunity_path_params(company_job_opportunity)) %></medium>			
	    		</td>
	    		<td>
	    			<medium class="btn btn-danger" role="button"><%= link_to 'Remove Post', company_job_path(job_opportunity_path_params(company_job_opportunity)), method: :delete, data: { confirm: 'Are you sure?' } %></medium>
	    		</td>
	    		<td>
	    			<medium class="btn btn-info" role="button"><%= link_to 'Related Events',  company_job_events_path(events_path_params(job_opportunity_path_params(company_job_opportunity))) %></medium>
	    		</td>
	    		<td>
					<small class="btn btn-info" role="button"><%= link_to 'View Full Post',  company_job_path(job_opportunity_path_params(company_job_opportunity)) %></small>
	    		</td>
	    	</tr>
	    </table>
		</ul>
	</div>
	<% end %>