<% content_for :show_content do %>
  <h2>Projects</h2>
  <% @candidate_projects.each do |candidate_project| %>
    <div class="well">
      <div class="row">
        <div class="col-sm-3">
          <p><b>Title</b></p>
        </div>
        <div class="col-sm-6">
          <p><%= candidate_project.title %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p><b>Domain</b></p>
        </div>
        <div class="col-sm-6">
          <p><%= candidate_project.domain %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p><b>Start date</b></p>
        </div>
        <div class="col-sm-6">
          <p><%= candidate_project.start_date %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p><b>End date</b></p>
        </div>
        <div class="col-sm-6">
          <p><%= candidate_project.end_date %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p><b>Position</b></p>
        </div>
        <div class="col-sm-6">
          <p><%= candidate_project.position %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p><b>Organisation</b></p>
        </div>
        <div class="col-sm-6">
          <p><%= candidate_project.organisation%></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p><b>Description</b></p>
        </div>
        <div class="col-sm-6">
          <p><%= candidate_project.description %></p>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to "Edit Projects", edit_candidate_projects_path(params[:id]||params[:candidate_id]),class:"btn btn-default text-center",onclick: "javascript:window.location.reload()" %>
<%  end %>

<%= render "candidates/show_navbar" %>
