<p id="notice"><%= notice %></p>

<b><%= @candidate_reference.name %></b><br>
<p><%= @candidate_reference.email %></p><br>
<p><%= @candidate_reference.contact %></p><br>

<%= link_to 'Edit', edit_candidate_reference_path(reference_path_params(@candidate_reference)) %> |
<%= link_to 'Back', candidate_references_path %>
