<%= form_for @review, url:required_url do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td><%= f.label :rating %></td>
      <td><%= f.number_field :rating %></td>
    </tr>
    <tr>
      <td><%= f.label :text %></td>
      <td><%= f.text_field :text %></td>
    </tr>
    <tr>
      <td><%= f.label :company %></td>
      <td><%= f.select :company_id, options_for_select(@company.map {|c| [c.name,c.id]}) %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
